.content{
  grid-area:c;
  background-color: #cfdaec;


}



.item{
  color: green;

}


.postBlock{
  padding: 10px;

}

.posts{
  margin-top: 10px;
  
}
 




.item{
color: green;

}
