.item img{

      width: 50px;

    width: 50px;

  }
  
  .item img{

      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: white;
      box-shadow: 2px 2px 7px 2px #000;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 2px 7px 2px #000;

  }