.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid;

  grid-template-areas:
 

  "h h"
  "n c";

  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;

}


.app_wrapper_content{
  grid-area:c ;
  background-color: cornflowerblue;

}